absl-py == 0.8.0
astor == 0.8.0
beautifulsoup4 == 4.8.1
boto == 2.49.0
boto3 == 1.10.27
botocore == 1.13.27
cachetools == 3.1.1
certifi == 2019.9.11
chardet == 3.0.4
click == 6.7
colorama == 0.4.1
cycler == 0.10.0
docopt == 0.6.2
docutils == 0.15.2
et-xmlfile == 1.0.1
fasttext == 0.9.1
feedparser == 5.2.1
gast == 0.2.2
gensim == 3.8.1
gitsome == 0.8.4
google-api-core == 1.14.3
google-auth == 1.6.3
google-auth-oauthlib == 0.4.1
google-cloud-core == 1.0.3
google-cloud-datastore == 1.9.0
google-pasta == 0.1.7
googleapis-common-protos == 1.6.0
grpcio == 1.24.1
h5py == 2.10.0
hanja == 0.12.3
idna == 2.8
inflect == 2.1.0
jdcal == 1.4.1
jmespath == 0.9.4
joblib == 0.14.0
JPype1 == 0.7.0
Keras == 2.3.1
Keras-Applications == 1.0.8
Keras-Preprocessing == 1.1.0
kiwisolver == 1.1.0
konlpy == 0.5.1
kor2vec == 0.0.1a0
lxml == 4.4.2
Markdown == 3.1.1
matplotlib == 3.1.1
mysqlclient == 1.4.6
nltk == 3.4.5
numpy == 1.17.2
oauthlib == 3.1.0
openpyxl == 3.0.2
opt-einsum == 3.1.0
pandas == 0.25.1
Pillow == 6.2.1
pip == 19.3.1
ply == 3.11
prompt-toolkit == 2.0.10
protobuf == 3.10.0
pyasn1 == 0.4.7
pyasn1-modules == 0.2.6
pybind11 == 2.4.3
Pygments == 2.4.2
pyparsing == 2.4.2
python-dateutil == 2.8.0
pytrends == 4.7.2
pytz == 2019.3
PyYAML == 5.1.2
requests == 2.22.0
requests-oauthlib == 1.3.0
rsa == 4
s3transfer == 0.2.1
scikit-learn == 0.21.3
scipy == 1.3.1
selenium == 3.141.0
setuptools == 41.4.0
six == 1.12.0
sklearn == 0
smart-open == 1.9.0
soupsieve == 1.9.5
tensorboard == 1.15.0
tensorflow-estimator == 1.15.1
tensorflow-gpu == 1.15.0
termcolor == 1.1.0
torch == 1.3.1
torchvision == 0.4.2
tqdm == 4.36.1
Unidecode == 1.1.1
uritemplate == 3.0.0
uritemplate.py == 3.0.2
urllib3 == 1.25.6
urlparser == 0.1.2
wcwidth == 0.1.7
Werkzeug == 0.16.0
wheel == 0.33.6
wrapt == 1.11.2
xlrd == 1.2.0